spec:
  inputs:
    run_infra:
      type: boolean
      default: false
      description: "Also include the infra pipeline?"
    run_destroy:
      type: boolean
      default: false
      description: "Run the destroy pipeline instead of plan/apply?"
---
workflow:
  rules:
    - when: always

# Always include main; include infra only when the input is true
include:
  - local: ".gitlab/main.pipeline.yml"
    rules:
      - if: '"$[[ inputs.run_destroy ]]" != "true" && "$[[ inputs.run_infra ]]" != "true"'

  - local: ".gitlab/infra.pipeline.yml"
    rules:
      - if: '"$[[ inputs.run_destroy ]]" != "true" && "$[[ inputs.run_infra ]]" == "true"'

  - local: ".gitlab/destroy.pipeline.yml"
    rules:
      - if: '"$[[ inputs.run_destroy ]]" == "true"'
