# Local backend override
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local TF state
.terraform/
.terraform.lock.hcl
.terraform/local/
terraform.tfstate
terraform.tfstate.*
*.tfplan

# Github
.github/

# Node
dist
!.cloud/docker/dist
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.cache/

*.zip
*.tar.gz

temp
*.db