services:
  keycloak.dev:
    profiles:
      - dev
    image: quay.io/keycloak/keycloak:26.4.7
    container_name: sso.keycloak.dev
    hostname: local.dev
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true
      KC_LOG_LEVEL: DEBUG
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HOSTNAME_STRICT: false
      KC_PROXY_HEADERS: xforwarded
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_CI_SECRET: supersecret
    # volumes:
    #   - ./realms/setup-realm.json:/opt/keycloak/data/import/api-realm-realm.json
    command:
      - start-dev
      - --import-realm
      
  keycloak.test:
    profiles:
      - test
    build: 
      context: .
    container_name: sso.keycloak
    hostname: local.test
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      KC_HEALTH_ENABLED: true
      KC_METRICS_ENABLED: true
      KC_LOG_LEVEL: DEBUG
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HOSTNAME_STRICT: false
      KC_PROXY_HEADERS: xforwarded
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_REALM_API-SSO_SECRET: supersecret
      KC_REALM_API-SSO_REDIRECT_URIS: http://localhost:3002/*
      KC_TEST_USER_PASSWORD: userpass1234#!
      KC_REALM_AIHUB-PROD_SAML_ASSERTION_CONSUMER_URL_REDIRECT: http://localhost:3002/auth/saml/callback
      KC_REALM_AIHUB-PROD_SAML_SINGLE_LOGOUT_SERVICE_URL_POST: http://localhost:3002/auth/logout
      KC_REALM_AIHUB-PROD_SAML_ASSERTION_CONSUMER_URL_POST: http://localhost:3002/auth/saml/callback
      KC_REALM_AIHUB-PROD_SAML_SINGLE_LOGOUT_SERVICE_URL_REDIRECT: http://localhost:3002/auth/logout
      KC_REALM_AIHUB-PROD_SAML_SIGNING_CERTIFICATE: MIIDCTCCAfGgAwIBAgIURK6kIm/e1o7c5dwTKuNB2BToNYYwDQYJKoZIhvcNAQELBQAwFDESMBAGA1UEAwwJbG9jYWxob3N0MB4XDTI2MDExOTE5MjUxOVoXDTI3MDExOTE5MjUxOVowFDESMBAGA1UEAwwJbG9jYWxob3N0MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuQlFxVQrFXtYU3TtyKVoqhJrrcvFMWxGUZ5IoxK6WCfjMDr4J8DIkTL20TjKUJm7sTBoYNA7dsZXhBUJUqipBhB4LDzF9MmJhZX5PXLIYNhTwzKo6FF05ETroWfTMLohC0SpXsKc4+kjsXFymyoLeO0/5woskCAE7DLIp7Mg1copxS+ZaHZJjo7iFiJe/EJxuHzAVQihOTWZtptUPIz3ZynzfP/DhW4hhlLBW5IibcVe0GTzRU6OFmPqo+HJMPv8xXIfvA95RiK2fjJXhdxV5wN8KhDfCh2/39uk++drapiT9A00D5KAsPWZDq5Qq11eEEiLT3B7O5FSPPabqR4U7wIDAQABo1MwUTAdBgNVHQ4EFgQUJ58wvgxovtA2hQ7wPPX4nap/wvUwHwYDVR0jBBgwFoAUJ58wvgxovtA2hQ7wPPX4nap/wvUwDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEALE5jz4y4L1u2Ibdn8ql49OXqPUNnfRZNDvaMtu2V/+npZu29QcdQqjfz/LmszR9oaMmJ7t8QzTvhfRZneOPwyvESjsQPPWGe3VDXXIFuwsOOQMEQWwUKSbfVWl94FrQkuiskshSGrU3MKrrZ6D6qBnYISQ1Azt9fDd7QXsqYttKaDWAMfC5xAUW+0zionlqFSva4MsL9SKLYZhu58rGnLwXad3UEbwCODKZrqsbvf4N0mI2Hwgm7u6bmBk/CmVPzr2/GPNjSkKjNsNz1Zt9AlyatKwKfLb9NKprZ9116rtYm/taIT/34ZbHGSfMHhEtEjMcKlSLxZg59MUj/9Qdmaw==
      KC_REALM_AIHUB-PROD_SAML_SIGNING_PRIVATE_KEY: MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQC5CUXFVCsVe1hTdO3IpWiqEmuty8UxbEZRnkijErpYJ+MwOvgnwMiRMvbROMpQmbuxMGhg0Dt2xleEFQlSqKkGEHgsPMX0yYmFlfk9cshg2FPDMqjoUXTkROuhZ9MwuiELRKlewpzj6SOxcXKbKgt47T/nCiyQIATsMsinsyDVyinFL5lodkmOjuIWIl78QnG4fMBVCKE5NZm2m1Q8jPdnKfN8/8OFbiGGUsFbkiJtxV7QZPNFTo4WY+qj4ckw+/zFch+8D3lGIrZ+MleF3FXnA3wqEN8KHb/f26T752tqmJP0DTQPkoCw9ZkOrlCrXV4QSItPcHs7kVI89pupHhTvAgMBAAECggEAAxERG8r1fIF9qRhu2RygsPI64E0DGNAYvuvhe/kTUeMLWWEeJsPZBHW0myrBSPewoX2nZTSzn5gm8Cn3FxceLLBjhXwrsw8PXUGV5BD9xYPK/kOzLUfYU5uEJOSByV90V773aE96ZoPr0wTfJ4zZVtORHmT6mxg6F1NkzvQMOcQniNAhuBlU8fDqC/Jsqp/cUN7ykWiTggRDznRiulMorlLe9GxJ2WUNjamElSbVgctvza35o5QrfYGGQ6ighSDr29C8aXREat6RgkhEZpaxa2cOdLoknhBmvU5vxof1gplpucYKs2FR7RK3ZSki8ILvoxhsT6EdwSdHCORhtHAxFQKBgQD4o8JfiC0yhTdMLs0N84y573RGUL5HBKFEnG+u3F34rTAe6ao4E8fOc2gRZXV5hxx0ZNX2tht642KUGZ5UESkvVFDjpVcoPo1xcLIgLVAU20IPsNfWyOwYorJh0sHvQm6X2cDYfJnzAqngaaY8UOKoUUeR/U9aruijHIhat+f42wKBgQC+g4N9x4aiYjENjLd+ludiXwcdvP/GmfrwaQrhlaI1GMA3fyAOpDqCCylS0sclHogrt+93YY9K5hZ8j6GnEeRnXv+iaZoPeak23i3+0F/xM942Hn9iKU5gFvoa02rY2S+uwIPyl4/fpeUp7FwojHmnUn46AXYpFrAaca9wUcBWfQKBgFqb+vqreqUdjQBTUeDSr6cWz03MoPrqggap571Wi1xTaOTrDGAxPTBMOFGWos/t3/2+vYaR6MPI16TXDS7frh2UYYIEQBXnbc44XoGBYdyn5pQnQxD/2aJEsDMcBha2I+1sqm16QvQfNV8VwUHbzC3AqQ9Xu7J1aUv/2uUMfhnfAoGAC8vk5nLmWUOvOeGOsx3w8dxkemjrhYafTSeT7ufvBU6lCEqs13s/zDGYu3IltpyvXdWj1EaMMt0QY2IZZljrRaNSPOJBEdg8rBMR0gdhCXRmu/8jcBaSrcx+bA7PPOIl27I7+Vd9JyIEkJX8Ft6r4bpv6nOQt3aaLOkBLflB6ZkCgYBFfXA39C8ihpBlfWoNeMd7INSNuTBUM+N7UI4laTvk44jRK45YxIapcY98SWfdJkZOmo76v2fSsc90dn0r0jar30NQCMPQB3Af2AOFtDWQtQ8ENi3MfUXRLh8YZ2MRqwlSyRMUTFX0zEciLWd53Q2BSyfnKFw5hoUA4RtL9wAbIA==
    command:
      - start-dev
      - --import-realm
